body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab', serif; /* Roboto Slab for a clean, serif look */
}

#chat-interface {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-weight: 700; /* Roboto Slab bold for headings */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

nav #loginLink {
    cursor: pointer;
}

#loginIcon {
    width: 25px;
    margin-right: 8px;
}

#chat-history {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 20px;
}

#chat-box {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px;
}

#chat-input-area {
    display: flex;
}

#chat-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

#send-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#send-button:hover {
    background-color: #555;
}

nav #upload-container {
    display: inline-block;
    margin-left: 15px;
}

#file-upload-label {
    background-color: #666;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#file-upload-label:hover {
    background-color: #777;
}
